@import "variables";

@mixin descriptionList(
  $textColor: $textColor01,
  $borderColor: $textColor03,
  $fontSize: 1.5rem,
  $textAlign: start,
  $padding: 12px 0px
) {
  border-collapse: collapse;
  width: 100%;

  dt,
  dd {
    padding: $padding;
    font-size: $fontSize;
    text-align: $textAlign;
    color: $textColor;
    border-bottom: 1px solid rgba($borderColor, 0.2);
  }

  dt {
    font-weight: 600;
  }

  @content;
}
