@import "variables";
@import "lines_base_overflow";

@mixin table($textColor: $textColor01, $borderColor: $textColor03) {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    font-size: 1.5rem;
    text-align: start;
    color: $textColor;

    span {
      @include linesBaseOverflow();
    }
  }

  tHead {
    tr {
      border-bottom: 1px solid rgba($color: $borderColor, $alpha: 0.2);
    }
  }

  tBody {
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid rgba($color: $borderColor, $alpha: 0.2);
      }
    }
  }

  @content;
}
