$primaryColor: #3b71ca;
$successColor: #14a44d;
$infoColor: #54b4d3;
$warningColor: #e4a11b;
$dangerColor: #dc4c64;
$secondaryColor: #9fa6b2;
$lightColor: #fbfbfb;
$darkColor: #332d2d;

$blurColor: rgba(#333, 0.4);

$backgroundColor01: rgb(245, 245, 247);
$backgroundColor02: #fff;
$backgroundColor03: rgb(45, 61, 77);
$backgroundColor04: #d9534f;

$boxShadow01: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
$boxShadow02: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
$boxShadow03: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$boxShadow04: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$textColor01: #333;
$textColor02: white;
$textColor03: rgb(87, 88, 100);
