@import "variables";
@import "table";
@import "button";
@import "media_advanced";
@import "input";
@import "description_list";
@import "table_col_width";
@import "lines_base_overflow";

main {
  .container-fluid {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .product-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: $backgroundColor02;
      padding: 16px;
      box-shadow: $boxShadow01;

      .title {
        font-size: 3rem;
        color: $textColor01;
      }

      .header {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        @include media(xs, sm) {
          flex-direction: column;
        }

        @include media(md, lg, xl) {
          flex-direction: row;
        }

        .filters-wrapper {
          display: flex;
          gap: 16px;

          @include media(xs, sm) {
            flex-direction: column;
          }

          @include media(md, lg, xl) {
            flex-direction: row;
          }

          .limit {
            display: flex;
            align-items: center;
            gap: 4px;

            label {
              font-size: 1.5rem;
              color: $textColor01;
            }

            select {
              @include input() {
              }
            }
          }

          .search {
            display: flex;

            .search-box {
              @include input() {
                width: 100%;
              }
            }

            .search-button {
              @include button();
            }
          }

          .filter {
            @include media(xs, sm) {
              position: unset;
            }

            @include media(md, lg, xl) {
              position: relative;
            }

            .filter-toggle {
              @include button($display: flex) {
                position: relative;
                align-items: center;
                gap: 6px;

                i {
                  font-size: 1.5rem;
                  color: $textColor02;
                }
              }

              .filter-number {
                position: absolute;
                top: -8px;
                right: -8px;
                width: 24px;
                height: 24px;
                background-color: $warningColor;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $textColor02;
                font-size: 1.5rem;
                font-weight: 600;
              }
            }

            .filter-menu {
              z-index: 999;
              transition: 0.3s;

              @include media(xs, sm) {
                display: flex;
                flex-direction: column;
                top: 16px;
                bottom: 16px;
                left: 16px;
                right: 16px;
                transform: translateY(-110%);

                &.show {
                  transform: translateY(0);
                }
              }

              @include media(md) {
                display: none;
                width: 600px;
                top: 100%;
                bottom: auto;
                left: auto;
                right: auto;
                transform: unset;

                &.show {
                  display: block;
                  transform: translateY(10px);
                }
              }

              @include media(lg) {
                display: none;
                width: 700px;
                top: 100%;
                bottom: auto;
                left: auto;
                right: auto;
                transform: unset;

                &.show {
                  display: block;
                  transform: translateY(10px);
                }
              }

              @include media(xl) {
                display: none;
                width: 800px;
                top: 100%;
                bottom: auto;
                left: auto;
                right: auto;
                transform: unset;

                &.show {
                  display: block;
                  transform: translateY(10px);
                }
              }

              .popover-pointer {
                @include media(xs, sm) {
                  display: none;
                }

                @include media(md, lg, xl) {
                  display: block;
                }
              }

              .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                width: 100%;

                .title {
                  font-size: 2rem;
                }

                .close-filter-button {
                  @include button(
                    $backgroundColor: $secondaryColor,
                    $textColor: $textColor02,
                    $padding: 10px,
                    $display: flex
                  ) {
                    width: 32px;
                    height: 32px;
                    justify-content: center;
                    align-items: center;

                    i {
                      font-size: 1.5rem;
                      color: $textColor02;
                    }
                  }
                }
              }

              .body {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 10px;
                width: 100%;
                overflow-y: auto;

                .filter-title {
                  font-size: 1.5rem;
                  color: $textColor01;
                }

                .filter-section {
                  display: flex;
                  gap: 10px;
                  flex-wrap: wrap;

                  label {
                    font-size: 1.5rem;
                    color: $textColor01;
                  }

                  input {
                    @include input($padding: 6px 12px);
                  }

                  .filter-option {
                    input {
                      display: none;
                    }

                    label {
                      display: inline-block;
                      border: 1px solid rgba($textColor01, 0.15);
                      padding: 6px 12px;
                      font-size: 1.5rem;
                      color: $textColor01;
                      cursor: pointer;

                      &:hover {
                        border: 1px solid $primaryColor;
                        color: $primaryColor;
                      }
                    }

                    input:checked + label {
                      border: 1px solid $primaryColor;
                      color: $primaryColor;
                    }
                  }
                }
              }

              .footer {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 10px;
                margin-top: auto;
                width: 100%;

                .reset-button {
                  @include button(
                    $backgroundColor: $dangerColor,
                    $textColor: $textColor02
                  );
                }

                .apply-button {
                  @include button(
                    $backgroundColor: $primaryColor,
                    $textColor: $textColor02
                  );
                }
              }
            }
          }
        }

        .create-new-button {
          @include button($display: flex) {
            justify-content: center;
            align-items: center;
            gap: 8px;

            i {
              color: $textColor02;
              font-size: 1.5rem;
            }
          }
        }
      }

      .table-wrapper {
        overflow-x: auto;

        table {
          @include table() {
            .image-wrapper {
              display: inline-block;

              // &.avatar {
              //   border-radius: 50%;
              //   overflow: hidden;
              // }

              img {
                width: 64px;
                height: 64px;
                object-fit: contain;
              }
            }

            .actions {
              display: flex;
              gap: 8px;

              .view-button {
                @include button($backgroundColor: $successColor);
              }

              .edit-button {
                @include button($backgroundColor: $warningColor);
              }

              .delete-button {
                @include button($backgroundColor: $dangerColor);
              }
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .info {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .title {
            font-size: 2.5rem;
            color: $textColor01;
          }

          .input-group {
            display: flex;

            .images-input-group {
              width: 100%;
              overflow-x: auto;

              .images-upload-wrapper {
                border: 1px solid rgba($textColor01, 0.15);
                display: flex;
                align-items: center;
                overflow-x: auto;
                padding: 10px;
                width: 100%;

                &.error {
                  border: 1px solid $dangerColor;
                }

                .images-upload-control {
                  label {
                    min-width: 100px;
                    min-height: 100px;
                    border: 1px solid rgba($textColor01, 0.25);
                    font-size: 3rem;
                    color: $textColor01;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $backgroundColor01;
                    cursor: pointer;
                  }

                  input {
                    display: none;
                  }
                }

                .images-preview {
                  display: flex;

                  .images-preview-item {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    border: 1px solid rgba($textColor01, 0.25);
                    margin-right: 10px;

                    .image-edit-button {
                      position: absolute;
                      width: 24px;
                      height: 24px;
                      background-color: $warningColor;
                      border-radius: 50%;
                      color: $textColor02;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      top: 0;
                      right: 0;
                      transform: translateX(10px) translateY(-10px);
                      cursor: pointer;

                      i {
                        font-size: 1.25rem;
                        color: $textColor02;
                      }
                    }

                    .image-remove-button {
                      position: absolute;
                      width: 24px;
                      height: 24px;
                      background-color: $dangerColor;
                      border-radius: 50%;
                      color: $textColor02;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      top: 0;
                      right: 0;
                      transform: translateX(10px) translateY(-10px);
                      cursor: pointer;

                      i {
                        font-size: 1.5rem;
                        color: $textColor02;
                      }
                    }

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                  }
                }
              }
            }

            .input-group-control {
              width: 100%;
            }

            @include media(xs, sm) {
              flex-wrap: wrap;
              gap: 10px;
            }

            @include media(md, lg, xl) {
              flex-wrap: nowrap;
              gap: 0;
            }

            label {
              font-size: 1.5rem;
              color: $textColor01;
              width: 100%;
              max-width: 300px;
            }

            input:not([type="file"]),
            textarea,
            select {
              @include input() {
                width: 100%;

                &.error {
                  border: 1px solid $dangerColor;
                }
              }
            }
          }
        }

        .warning-message {
          font-size: 2.5rem;
          color: $textColor01;
        }

        .actions {
          display: flex;
          justify-content: start;

          @include media(xs, sm) {
            flex-direction: column;
            gap: 10px;
          }

          @include media(md, lg, xl) {
            flex-direction: row;
            gap: 0;
          }

          .empty {
            width: 100%;
            max-width: 300px;
          }

          .save-button {
            @include button() {
              @include media(xs, sm) {
                margin-right: 0;
              }

              @include media(md, lg, xl) {
                margin-right: 10px;
              }
            }
          }

          .confirm-button {
            @include button($backgroundColor: $dangerColor) {
              @include media(xs, sm) {
                margin-right: 0;
              }

              @include media(md, lg, xl) {
                margin-right: 10px;
              }
            }
          }

          .back-button {
            @include button($backgroundColor: $secondaryColor);
          }

          .cancel-button {
            @include button();
          }
        }
      }

      .description-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include descriptionList() {
          .info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .title {
              font-size: 2.5rem;
              color: $textColor01;
            }

            &.images {
              dl {
                dt,
                dd {
                  border-bottom: none;

                  .images-wrapper {
                    border: 1px solid rgba($textColor01, 0.15);
                    display: flex;
                    overflow-x: auto;
                    padding: 10px;
                    gap: 10px;

                    .images-item {
                      width: 160px;
                      height: 160px;
                      min-width: 160px;
                      min-height: 160px;
                      border: 1px solid rgba($textColor01, 0.25);

                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .actions {
          display: flex;
          gap: 10px;

          @include media(xs, sm) {
            flex-direction: column;
          }

          @include media(md, lg, xl) {
            flex-direction: row;
          }

          .edit-button {
            @include button($backgroundColor: $warningColor);
          }

          .back-button {
            @include button($backgroundColor: $secondaryColor);
          }
        }
      }
    }
  }
}
